.card {
  margin: 10px auto;
  width: 90%;
  min-height: 147px;
  background: #ffffff;
  box-shadow: rgba(152, 163, 207, 0.3) 0px 20px 34px 0px;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
}

.defaultView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 35px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.editButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  border: 0;
}
.card h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.editView {
  composes: defaultView;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 16px;
  padding-top: 40px;
}
.editView textarea {
  width: 100%;
  padding: 15px;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid #98a3cf;
  margin-bottom: 14px;
  vertical-align: middle;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.deleteButton {
  background-color: inherit;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.editButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.saveButton,
.cancelButton {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #98a3cf;
  border: 1px solid #98a3cf;
  border-radius: 30px;
  width: 110px;
  height: 34px;
}
.saveButton {
  color: #ffffff;
  background-color: #98a3cf;
}
.cancelButton {
  color: #98a3cf;
  background-color: #ffffff;
}
