.defaultView {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  min-height: 147px;
  margin: 10px auto;
  padding: 30px;
  padding-bottom: 35px;
  background: #ffffff;
  box-shadow: rgba(152, 163, 207, 0.3) 0px 20px 34px 0px;
  border-radius: 16px;
  cursor: pointer;
  word-wrap: break-word;
}
.editButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  border: 0;
}
.defaultView h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
