.defaultView {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
  min-height: 147px;
  margin: 10px auto;
  padding: 30px;
  padding-bottom: 35px;
  background: #ffffff;
  box-shadow: rgba(152, 163, 207, 0.3) 0px 20px 34px 0px;
  border-radius: 16px;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
}
.editButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  border: 0;
}
.defaultView h2 {
  width: 100%;
  margin: auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  z-index: 10;
}

.editView {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 16px;
  padding-top: 40px;
  overflow: hidden;
  cursor: default;
}
.editView textarea {
  width: 100%;
  height: auto;
  min-height: 50px;
  resize: none;
  overflow: hidden;
  padding: 15px;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid #98a3cf;
  margin-bottom: 14px;
  vertical-align: middle;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.editView textarea:focus {
  outline: none;
}
.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  border: 0;
}
.buttonsPanel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
